<div style="text-align: center;">
    <div ngClass="intro_item">
        <img src="assets/images/locate-map-cartoon.png">
        <h2 > Localizar linha de ônibus </h2>
    </div>
    <form [formGroup]="findForm" (ngSubmit)="onSubmit()">
        <div style="margin-top: 30px;">
            <mat-form-field appearance="outline" style="width: 19%;">
                <mat-label>Ponto de partida</mat-label>
                <input 
                    id="departure"
                    type="text"
                    formControlName="departure"
                    required
                    matInput
                >
            </mat-form-field>
        </div>
        <div style="margin-top: 5px; height: 67px;">
            <mat-form-field appearance="outline" style="width: 19%;">
                <mat-label>Linha</mat-label>
                <input
                    id="line"
                    type="text"
                    formControlName="line"
                    required
                    matInput
                >
            </mat-form-field>
        </div>
        <div *ngIf="getLogged() && findForm.valid" style="text-align: center;">
            <button ngClass="button_save" (click)="saveLine()" type="button">
                <div style="display: inline-block;">
                    <img *ngIf="save" ngClass="heart" src="assets/images/heart.png">
                    <img *ngIf="!save" ngClass="heart" src="assets/images/empty-heart.png">
                </div>
                <div style="display: inline-block; ">
                    <p ngClass="save_text">Salvar nos favoritos</p>
                </div>
            </button>
        </div> 
        <div ngClass="button-send">
            <button mat-raised-button color="warn" 
                style="width: 19%; height: 50px;"
                type="button" [disabled]="!findForm.valid"
                routerLink="/localizar-linha/resultado" (click)="onSubmit()" >BUSCAR</button>
        </div>
    </form>
</div>
