label {
    display: block;
    margin: .5em 0;
    font-weight:400;
}

input {
    width: 100%;
}

.button-send {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    display: flex;
    text-align: center;
}

.inpu-horario {
    width: 30%;
}

.intro_item{
  margin: 0 auto;
  margin-top: 40px;
  width: 25em;
  text-align: center;
}

.intro_item img{
  max-width:180px;
  max-height:70px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}