label {
    display: block;
    margin: .5em 0;
    font-weight:400;
}

input {
    width: 100%;
}

.button-send {
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    display: flex;
    text-align: center;
}

.inpu-horario {
    width: 30%;
}

.intro_item{
  margin: 0 auto;
  margin-top: 40px;
  width: 25em;
  text-align: center;
}

h2 {
  font-size: 30px;
}