<div style="text-align: center;">
    <img src="assets/images/busondi.png">
    <div style="margin-bottom: 20px; margin-top: 10px;">
        <h3 style="color: rgb(85, 78, 78);">{{text}}</h3>
    </div>
    <div>
        <button mat-raised-button data-cy="login-error" id="ok"
            style="width: 50%; height: 38px;
            font-size: 14px;
            font-weight: 400;
            background-color: rgb(230, 64, 64);
            color: rgb(255, 255, 255); border:none!important;
            border-radius: 4px;"
        (click)="onNoClick()">OK</button>
    </div>
</div>