.button-menu {
    border-radius: 45px !important;
    height: 36px;
    width: 36px;
    right: 1px;
    display: flex;
    align-items: inherit;
}

.icon-menu {
    height: 28px;
    left: -7px;
    position: relative;
}

.toolbar-row {
    height: 45px;
}

.toolbar-main {
    min-height: 45px;
}

.login{
    width: 100%;
    text-align: right;
}

.login_button {
    color: rgb(151, 149, 149);
    font-size: 15px;
}
  
mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #dfe0e2;
    color: rgb(20, 20, 20);
    border-radius: 10px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    overflow: auto;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.intro_item{
    margin: 0 auto;
    margin-top: 40px;
    width: 23em;
    text-align: center;
}

h2 {
    font-size: 26px;
  }