label {
    display: block;
    margin: .5em 0;
    font-weight:400;
}

input {
    width: 100%;
}

.button-send {
    justify-content: center;
  align-items: center;
    margin: 8px 0;
  display: flex;
}

.inpu-horario {
    width: 30%;
}