<div ngClass="result_item">
    <img src="assets/images/pin-map-theme.png">
    <h2> O próximo ônibus da linha {{line}} está a {{time}} do ponto de partida  </h2>
</div>
<div style="text-align: center; margin-top: 30px;">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div style="margin-top: 5px;">
            <mat-form-field appearance="outline" style="width: 19%;">
                <mat-label>Ponto de partida</mat-label>
                <input 
                    id="departure"
                    type="text"
                    formControlName="departure"
                    required
                    matInput
                >
            </mat-form-field>
        </div>
        <div ngClass="button-send">
            <button mat-raised-button color="warn" 
                style="width: 8%;"
                type="submit" [disabled]="!updateForm.valid"
                routerLink="/localizar-linha/resultado" >ATUALIZAR</button>
        </div>
    </form>
</div>