.result_item{
    margin: 0 auto;
    margin-top: 40px;
    width: 45em;
    text-align: center;
}

.map_route{
  text-align: center;
  margin: 0 auto;
  height: 600px; 
  width: 1000px;
}

.result_item img{
    max-width:180px;
    max-height:70px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }

h2 {
    font-size: 26px;
  }