<div style="text-align: center;">
  <img style="display: inline-block; height: 60px; width: 60px;" src="assets/images/favorite-location.jpg">
  <h2 style="font-size: 30px;">Linhas Favoritas</h2>
  <ul class="favoriteLine">
    <li *ngFor="let favoriteLine of getFavoriteLines()">
      <button type="button" ngClass="button_favorite" 
        routerLink="/localizar-linha/resultado" (click) = "setConsultationParams(favoriteLine)">
        <span class="item">{{favoriteLine.name}} - {{favoriteLine.stopName}}</span>
      </button>
      <button ngClass="button_remove">
        <mat-icon style="margin: auto auto;" (click)="removeLine(favoriteLine)" routerLink="/home">delete</mat-icon>
      </button>
    </li>
  </ul>
</div>