<div ngClass="main-screen">
  <p>
    <mat-toolbar ngClass="toolbar-main">
      <mat-toolbar-row ngClass="toolbar-row">
        <mat-button-toggle ngClass="button-menu">
          <mat-icon ngClass="icon-menu">more_horiz</mat-icon>
        </mat-button-toggle>
        <img style="margin-left: 8px;" src="assets/images/busondi.png">
        <div ngClass="login">
          <button ngClass="login_button">Login / inscrever-se</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </p>
  <div ngClass="main-component">
    <app-home></app-home>
  </div>
</div>
  
<div class="footer">
  <mat-divider></mat-divider>
  <p ngClass="help">Ajuda</p>
</div>

<router-outlet></router-outlet>
