.main-screen {
    max-height: 3000px;
    max-width: 2000px;
}

.main-component {
    padding: 0px 48px;
    align-items: center;
}

.button-menu {
    border-radius: 45px !important;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: inherit;
}

.icon-menu {
    height: 28px;
    left: -5px;
    position: relative;
}

.toolbar-row {
    height: 45px;
}

.toolbar-main {
    min-height: 45px;
}

.login{
    width: 100%;
    text-align: right;
}

.login_button {
    margin-right: 10px;
    margin-bottom: 5px;
    color: darkgray;
    font-size: 15px;
    border: none;
    background: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    text-align: right;
}

.help{
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
}